
<%- include('template/header.ejs') %>

<h3>Welocme to your profile, <i><%= user.userName %></i></h3>

<p>Extra informatin about you</p>

<img style="width: 200px; height: 200px; border-radius: 50%" src="<%= user.thumbnail %>">

<%- include('template/footer.ejs') %>

